<div class="controls">
    <button (click)="showToast('Saved successfully!', 'success')">Send Success</button>
    <button (click)="showToast('Server error occurred', 'error')">Send Error</button>
    <button (click)="showToast('Battery low', 'warning')">Send Warning</button>
</div>

<button (click)="show = !show">
    {{ show ? 'Destroy Component' : 'Create Component' }}
</button>

@if (show) {
<app-cart></app-cart>
}


<!-- TOAST CONTAINER (Fixed in corner) -->
<div class="toast-container">
    @for (toast of notifications(); track toast.id) {
    <div class="toast" [class]="toast.type">
        <span class="message">{{ toast.message }}</span>
        <button class="close-btn" (click)="dismiss(toast.id)">✕</button>

        <!-- Bonus: Progress bar animation -->
        <div class="progress-bar"></div>
    </div>
    }
</div>