<div class="product-list-section">
    @if (status() === 'loading') {
    <div class="loading-state">Loading products...</div>
    } @else if (status() === 'error') {
    <div class="error-state">Failed to load products.</div>
    } @else {
    <table class="product-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products(); track product.id) {
            <tr>
                <td>{{ product.name }}</td>
                <!-- <td>{{ product.category.name }}</td> -->
                <td>{{ product.price }}</td>
                <td>
                    <div class="action-buttons">
                        <button class="btn btn-icon btn-edit" (click)="editRequest.emit(product)">✏️</button>
                        <button class="btn btn-icon btn-delete" (click)="deleteRequest.emit(product.id)">🗑️</button>
                    </div>
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="4" class="empty-state">No products found.</td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>